.redondeada {
    border-radius: 20px; /* O cualquier valor que desees */
}

label {
font-family: Arial, sans-serif; /* Cambia la fuente a Arial o una fuente sans-serif */
font-size: 9px;                 /* Ajusta el tamaño de fuente */
color: gray;                  /* Cambia el color de la fuente a azul */
}

table {
font-family: Arial, sans-serif; /* Cambia la fuente a Arial o una fuente sans-serif */
font-size: 11px;                /* Ajusta el tamaño de fuente */
color: gray;                  /* Cambia el color de la fuente a azul */
}
